<header>
  <h1> Beer Hustle Admin Console</h1>
</header>

<nav>
  <ul>
    <li><a (click)="changeSection('Orders')">Orders</a></li>
    <li><a (click)="changeSection('Audit')">Audit</a></li>
    <li><a (click)="changeSection('Design')">Design</a></li>
  </ul>
</nav>


<!--The section for the Design Aspect of the admin console-->
<section *ngIf="currentTab=='Design'" class="Design">

  <div class="Edit">

    <div class="File">
      <i class="fa fa-plus-circle" style="font-size:36px" (click)="createNew()"></i>
      <i class="fa fa-save" style="font-size:36px" (click)="save()"></i>
      <i class="fa fa-trash" style="font-size:36px" (click)="remove()"></i>
    </div>

    <div class="Inputs">
      <fieldset>
        <input name="title" placeholder="Title" type="text" tabindex="1" required autofocus [(ngModel)]="product.title">
      </fieldset>
      <fieldset>
        <textarea name="description" placeholder="Add description of the image here." tabindex="2" required [(ngModel)]="product.description"></textarea>
      </fieldset>
      <fieldset>
        <input type="file" id="imgInp" (change)="previewImage($event)" id="selectedFile" tabindex="3" required/>
      </fieldset>
       <fieldset>
        <input name="fontColor" type="color" tabindex="4" [(ngModel)]="product.design.textColor"required/>
      </fieldset>
       <fieldset>
        <input name="Special" placeholder="Special Text" type="text" tabindex="5" required  [(ngModel)]="product.special">
      </fieldset>
      <fieldset>
        <input name="Price" placeholder="price" type="number" tabindex="6" [(ngModel)]="product.price" required >
      </fieldset>

      
    </div>

    <div class="ImgPosition">
      
      <img [src]="product.filePath" (mousedown)="mouseDown($event)" (mouseup)="loseFocus()" (mouseout)="loseFocus()" (mousemove)="mouseMove($event)" 
      (dragstart)="derp()" [ngStyle]="{'bottom': move(product.design.imgOffsetY), 'left': move(product.design.imgOffsetX)}">
      <p [ngStyle]="{'color': product.design.textColor}">{{product.title}}</p>
    </div>

  </div>

  <iframe src="http://localhost:8100/" width="360" height="640"></iframe>

</section>

<!--Section of the admin console for receiving orders-->
<section *ngIf="currentTab=='Orders'" class="Orders">
  <h3>Unfulfilled Orders </h3>
  <div *ngFor="let order of orderList" class="OrderItem">
    <!--<p>{{order.key}}</p>-->
    <p><b>{{order.val().name}}</b></p>
    <tr>
      <td class='alignLeft'>{{order.val().itemName}}</td>
      <td class='alignRight'>x{{order.val().quantity}}</td>
    </tr>
    <tr>
      <td class='alignLeft'>PayType: {{order.val().paymentType}}</td>
      <td class='alignRight'>Total: {{order.val().total | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    <tr>
      <td class='alignLeft'>Status: {{order.val().paymentStatus}}</td>
      <td class='alignRight'>Delivered<input type="checkbox" [(ngModel)]="order.delivered" (change)="changeDelivered(order)"></td>
    </tr>
    
  </div>

</section>


<!--Section for auditing transactions-->
<section *ngIf="currentTab=='Audit'" class="Audit">
  <h3> Sales Review </h3>

  <p> Start Time </p>
  <input type="datetime-local" [(ngModel)]="HtmlDateFrom" (change)="translateToDate()">
  <p> End Time </p>
  <input type="datetime-local" [(ngModel)]="HtmlDateTo" (change)="translateToDate()">
  <button (click)="SearchSales()">Filter</button>

  <div *ngFor="let sale of salesList" class="OrderItem">
    <p>{{sale.key | date:'medium'}}</p>
    <!--<p><b>{{sale.val().name}}</b></p>-->
    <tr>
      <td class='alignLeft'>{{sale.val().itemName}}</td>
      <td class='alignRight'>x{{sale.val().quantity}}</td>
    </tr>
    <tr>
      <td class='alignLeft'>PayType: {{sale.val().paymentType}}</td>
      <td class='alignRight'>Total: {{sale.val().total | currency:'USD':true:'1.2-2'}}</td>
    </tr>
    <tr>
      <td class='alignLeft'>Status: {{sale.val().paymentStatus}}</td>
      <td class='alignRight'>Delivered<input type="checkbox" [(ngModel)]="sale.delivered" (change)="changeDelivered(sale)"></td>
    </tr>
  </div>
</section>