page-profile {

.profileImg {
    overflow: hidden;
    border-radius:50%;
    height: 200px;
    width: 200px;
    // justify-content: center center;
    padding: 0;
}

.profileImg img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 50%;
    
}

.points {
    height: 100%;
    text-align: center;
    position: relative;
}

.points p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.points h1 {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    //color: green;
    font-size: 12px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.scoreBarOuter {
    background-color: #3a3a3a;
    height: 80%;
    width: 50%;
    position: absolute;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.scoreBarInner {
    position: absolute;
    bottom: 0;
    background-color: #96cc45;
    border-radius: 3px;
    height: 80%;
    width: 100%;
}

.background {
    background: color($colors, background);

}

.profileInfo{
    text-align: center;
}

.profileInfo p{
    color: black;
    
}

.profileInfo h1 {
    color: blue;
}

.profileInfo ion-buttons{
    position: fixed;
    bottom: 10%;
    width: 100%;
    text-align: left;
}

.profileInfo button {
    width: 45%;
}

h1 {
    width: 100%;
    font-size: 35px;
    padding: 30px;
}



}
