<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div  *ngIf="userInfo" class="profileInfo">
  <h1>Level: {{getLevel()}}</h1>


  <p> <b>17</b><br>points</p>



  <h1>{{userInfo.displayName}} </h1>
  


  <ion-buttons>
    <button ion-button (click)="editProfile()"> Edit Profile </button>
    <button ion-button (click)="logOut()">Log Out</button>
  </ion-buttons>

  <!--<ion-content *ngIf="textItem">{{textItem}}</ion-content>-->

</div>

</ion-content>
