
<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-searchbar (ionInput)="searchList($event)"></ion-searchbar>
  </ion-toolbar>



</ion-header>


<ion-content class="background">




<ion-list *ngIf="searchedList">
  <ion-item  *ngFor="let item of searchedList">
    <ion-thumbnail item-left>
      <img src="{{item.filePath}}">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
  </ion-item>
</ion-list>

<ion-grid text-center *ngIf="!searchedList">
  <ion-row *ngFor="let featuredItem of beerSelection.featured">
      <ion-col [@phaseIn]="featuredItem.itemLoaded" width-100 style="padding:0;margin:0;" >
        <ion-card class="featured" (click)="openProduct(featuredItem)">
          <img src="{{featuredItem.filePath}}" (load)="itemLoaded(featuredItem)">
          <p>{{featuredItem.title}}</p>
        </ion-card>
        </ion-col>
  </ion-row>
  <ion-row wrap >

    <ion-col col-6 *ngFor="let item of beerSelection.rest"  style="padding:0;margin:0;">
      <ion-card  class="rest" [@phaseIn]="item.itemLoaded" (click)="openProduct(item)">
        <img src="{{item.filePath}}" (load)="itemLoaded(item)"  [ngStyle]="{'bottom': move(item.design.imgOffsetY), 'left': move(item.design.imgOffsetX)}" >
        <p [ngStyle]="{'color': item.design.textColor}">{{item.title}}</p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>


