
<ion-header>
  <ion-toolbar color="primary">

    <ion-searchbar (ionInput)="searchList($event)"></ion-searchbar>
  </ion-toolbar>



</ion-header>


<ion-content class="background">




<ion-list *ngIf="searchedList">
  <ion-item  *ngFor="let item of searchedList">
    <ion-thumbnail item-left>
      <img src="{{item.filePath}}">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
  </ion-item>
</ion-list>

<ion-grid text-center *ngIf="!searchedList">
  <ion-row *ngFor="let featuredItem of beerSelection.featured">
      <ion-col width-100 style="padding:0;margin:0;">
        <ion-card class="featured">
          <img src="{{featuredItem.filePath}}">
          <p>{{featuredItem.title}}</p>
        </ion-card>
        </ion-col>
  </ion-row>
  <ion-row wrap >
        <!--https://forum.ionicframework.com/t/how-to-set-ion-grid-col-width-dynamically/58045/5-->
        <!--http://stackoverflow.com/questions/41181491/ionic-2-multiple-ion-item-in-a-row-->
        <!--http://ionicframework.com/docs/components/#grid-->
    <ion-col width-50 *ngFor="let item of beerSelection.rest"  style="padding:0;margin:0;">
      <ion-card  class="rest" >
        <img src="{{item.filePath}}" (load)="loadedImg()" [ngStyle]="{'bottom': move(item.design.imgOffsetY), 'left': move(item.design.imgOffsetX)}" >
        <p [ngStyle]="{'color': item.design.textColor}">{{item.title}}</p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>


