<!--
  Generated template for the BeerSearch page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BeerSearch</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<!--<ion-item (keyup)="searchList()">
  <ion-input type="search" placeholder="find your beer!" [(ngModel)]="currentSearch"  ></ion-input>
</ion-item>-->

<ion-searchbar (ionInput)="searchList($event)"></ion-searchbar>

<ion-list *ngIf="searchedList">
  <ion-item  *ngFor="let item of searchedList">
    <ion-thumbnail item-left>
      <img src="{{item.filePath}}">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.description}}</p>
  </ion-item>
</ion-list>

<ion-grid text-center *ngIf="!searchedList">
  <ion-row *ngFor="let featuredItem of beerSelection.featured">
      <ion-col>{{featuredItem.title}}</ion-col>
  </ion-row>
  <ion-row wrap>
    <ion-col width-50  *ngFor="let item of beerSelection.rest">
      {{item.title}}
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
