page-beer-search {

.background {
    background: color($colors, background);

}

ion-searchbar {
    // $searchbar-ios-input-transition: all 300ms ease;
    // $searchbar-ios-cancel-transition: all 300ms ease;
    width: 10px;
}

// ion-col {
//     background-color: pink;
//     height: 100px;
// }


// .cropped {
//     object-fit: cover;
// }

.featured {
    position: absolute;
    top: 25vh;
    height: 180px;
    overflow: hidden;
    width: 100%;
    margin: 0;
     opacity: 0;
}

.featured img {
    position: relative;

    
}

.featured p {
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.featuredCardHolder {
    width: 100%;
    height: 180px;
}

.cardHolder {
    width: 100%;
    height: 130px;
    //background-color: pink;
}

.rest {
    position: absolute;
    top: 50vh;
    width: 100%;
    height: 130px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.rest img {
    position: relative;
    margin: 0;
    padding: 0;
    // width: 100%;
}

.rest p {
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.rest ion-card {
    padding: 0;
    margin: 0;
}


}
