<header>
  <h1> Beer Hustle Admin Console</h1>
</header>

<nav>
  <ul>
    <li><a>Orders</a></li>
    <li><a>Audit</a></li>
    <li><a>Design</a></li>
  </ul>
</nav>


<section *ngIf="currentTab=='Design'" class="Design">

  <!--<div class="Edit" *ngIf="product">-->
  <div class="Edit">

    <div class="File">
      <i class="fa fa-plus-circle" style="font-size:36px"></i>
      <i class="fa fa-save" style="font-size:36px"></i>
      <i class="fa fa-trash" style="font-size:36px"></i>
    </div>

    <div class="Inputs">
      <fieldset>
        <input name="title" placeholder="Title" type="text" tabindex="1" required autofocus [(ngModel)]="product.title">
      </fieldset>
      <fieldset>
        <textarea name="description" placeholder="Add description of the image here." tabindex="2" required [(ngModel)]="product.description"></textarea>
      </fieldset>
      <fieldset>
        <input type="file" id="imgInp" (change)="previewImage($event)" id="selectedFile" tabindex="3" required/>
      </fieldset>
       <fieldset>
        <input name="fontColor" type="color" tabindex="4" required/>
      </fieldset>
       <fieldset>
        <input name="Special" placeholder="Special Text" type="text" tabindex="5" required  [(ngModel)]="product.title">
      </fieldset>
      <fieldset>
        <input name="Price" placeholder="price" type="number" tabindex="6" required >
      </fieldset>

      
    </div>

    <div class="ImgPosition">
      <img [src]="product.filePath" (mousedown)="mouseDown($event)" (mouseup)="loseFocus()" (mouseout)="loseFocus()" (mousemove)="mouseMove($event)" height="130px" width="180">
    </div>

  </div>

  <iframe src="http://localhost:8100/" width="360" height="640"></iframe>

</section>