page-purchase {

ion-card{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.forceContrast {
    color: white;
    display: inline;
    vertical-align: middle;
}

p {
    text-align: center;
}

.google {
    background: color($colors, google);
}

.paypal {
    background: color($colors, paypal);
}

}
