<ion-header>
  <ion-navbar color="primary">
    <!--<button ion-button icon-only (click)="cancel()"><ion-icon name="arrow-back"></ion-icon></button>-->
    <h1 class="forceContrast">{{paymentType}} payment screen.</h1>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p> It looks like your reached the end of this app.  I didn't implement actual payments as of yet.  This is simply a mock screen until
    we reach an actual sales environment.  For now, just click the ORDER button to complete this demo.
  </p>

  <button ion-button full (click)="FinishOrder()"> Order </button>




</ion-content>
